body { background-color: white; }

/*****************************************************************************/
div.row {
	margin-top: 2px;
	border: 0px;
	width: 700px;
	height: 135px;
	position: relative;
	font-family: Helvetica;
}

div.leftouterframe {
	border: 1px solid black;
	width: 225px;
	height: 130px;
	position: absolute;
	left: 5px;
	top: 0px;
}

div.midouterframe {
	border: 1px solid black;
	width: 225px;
	height: 130px;
	position: absolute;
	left: 250px;
	top: 0px;
}

div.rightouterframe {
	border: 1px solid black;
	width: 225px;
	height: 130px;
	position: absolute;
	left: 500px;
	top: 0px;
}
/*****************************************************************************/

/*****************************************************************************/
div.insidetop {
	border-bottom: 1px solid black;
	width: 100%;
	height: 70%;
	position: absolute;
	left: 0px;
	top: 0px;
}

div.insideinfo {
	margin-top: 0px;
	margin-left: 0px;
	border: 0px solid black;
	width: 60%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
}

div.infotop {
	margin-top: 0px;
	margin-left: 0px;
	border: 0px solid black;
	width: 100%;
	height: 25%;
	position: relative;
}

div.seq {
	margin-top: 0px;
	margin-left: 0px;
	border-right: 1px solid black;
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

p.seq {
	margin-top: 4px;
	text-align: center;
	font-size: 14px;
}

div.total {
	margin-top: 0px;
	margin-right: 0px;
	border-right: 1px solid black;
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
}

p.total {
	margin-top: 4px;
	text-align: center;
	font-size: 14px;
}

div.infodistance {
	margin-top: 0px;
	margin-left: 0px;
	border-top: 1px solid black;
	border-right: 1px solid black;
	width: 100%;
	height: 35%;
	position: relative;
}

p.distance {
	text-align: center;
	font-size: 12px;
}

div.latlong {
	margin-top: 0px;
	margin-left: 0px;
	border-top: 1px solid black;
	border-right: 1px solid black;
	width: 100%;
	height: 40%;
	position: relative;
}

p.latlong {
	margin-top: 2px;
	text-align: center;
	font-size: 12px;
}

div.insidetulip {
	margin-right: -1px;
	border: 0px solid black;
	width: 40%;
	height: 100%;
	position: absolute;
	right: 0px;
	top: 0px;
}

p.tulip {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/*****************************************************************************/

/*****************************************************************************/
div.insidebottom {
	border: 0px solid black;
	width: 100%;
	height: 30%;
	position: absolute;
	left: 0px;
	bottom: 0px;
}

p.turn {
	margin-top: 0px;
	text-align: center;
	font-size: 16px;
}
/*****************************************************************************/
